body {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

main {
    width: 60%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0;
}

h1+h2 {
    margin-top: 0;
    color: red;
}